<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hugging Face</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ message }}</h1>
    <form method="POST" action="/hugging">
        <label for="message">Entrez votre Texte :</label>
        <input type="text" id="message" name="message" required>
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>
